.App {
  text-align: center;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.textarea {
  font-family: 'Courier New', Courier, monospace;
  border: unset;
  min-width: 500px;
  min-height: 500px;
  padding: 1em;
}

.wordcount {
  padding: 1em;
}
