.App {
  text-align: center;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  
}

.textarea {
  font-family: 'Courier New', Courier, monospace;
  border: unset;
  width: 80%;
  height: 80%;
}
