body {
    font-family: 'Lato', sans-serif;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: coral;
    padding: 2em;
}

.result-display {
    padding: .5em;
}

.results {
    padding: 1em;
    background-color: #fff;
    color: coral;
    margin: 1em;
}

hr {
    border: 1px solid coral;
    margin: 1em 0;
}

.btn {
    border: none;
    background: white;
    border-radius: 25px;
    padding: 1em;
    margin: 1em;
}

.btn:hover,
.btn:focus {
    background: #999;
}

.selected {
    background:deeppink;
}

/* #tipCalc {
    display: flex;
    flex-direction: r;
} */