@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@500;600&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container,
button,
.input {
    font-family: 'Source Sans Pro', sans-serif;
}

.adviceEye {
    width: 500px;
    height: 500px;
    background-color: #000;
    content: '';
    border-radius: 50%;
    margin: 2em;
    padding: 0.5em;
    position: relative;
}

#adviceDisplay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 2.5em;
}

.triangle {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 35%;
    height: 60%;
    width: 40%;
    content: '';
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
    transform: rotate(180deg);
    padding: 2.5em;
    background-color: darkblue;
    /* x and y axis - starting from top left, top right, bottom right, bottom left */
}

p {
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
}

button {
    text-transform: uppercase;
    letter-spacing: 1.2;
}

button:hover {
    cursor: pointer;
}

.input,
button {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 1em;
    border-radius: 5px;
    border: none;
}

.input {
    background: darkgray;
}

@keyframes rotateTriangle {
    0% {}

    100% {}

}